html,
body {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ccc;
    color: #000;
    font-weight: 100;
}

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.container {
    margin-top: 15%;
    z-index: 1;
}

.soundTitle {
    text-align: center;
    font-size: 2rem;
}

.player-audio {
    position: relative;
    width: 300px;
    margin: 0 auto;
}


/** Logo 
 */
.author {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#git-logo {
    height: 40px;
    width: 40px;
    fill: #fff;
    vertical-align: middle;
    margin-left: 10px;
}

a {
    text-decoration: none;
    text-transform: none;
    color: #000;
    font-weight: 100;
    font-size: 0.6em;
}

.menu {
    height: 30px;
    margin: 10px;
    position: absolute;
    z-index: 51;
    top: 0;
    left: 0;
}

.s1,
.s2 {
    margin-top: 20px;
}

.set {
    width: 240px;
    height: 100%;
    padding: 14px;
    min-width: 220px;
    color: #fff;
}

.clr {
    float: right;
    width: 180px;
    margin-left: 20px;
}

#resR1u,
#resG1u,
#resB1u,
#resR2u,
#resG2u,
#resB2u {
    font-weight: 600;
}

.red {
    color: red;
}

.green {
    color: #1abc9c;
}

.blue {
    color: blue;
}

.text {
    margin-left: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    margin: 0px 7px;
    position: relative;
    background: #fff;
    top: 0;
    right: 0;
    padding: 0;
    /*required for proper track sizing in FF*/
    width: 130px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 130px;
    height: 20px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 2px;
    border-radius: 50%;
    background: black;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 130px;
    height: 2px;
    background: #141414;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #aaa;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #bbb;
    height: 1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #bbb;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.overflowAuto {
    overflow: auto;
}

#slider {
    z-index: 2;
    display: none;
    position: absolute;
    width: 280px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.24);
}
